form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  color: black;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.29);
}

h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

form > button {
  margin-top: 25px;
}

form > input {
  height: 20px;
  padding: 10px 10px 10px 15px;
  border: none;
  background-color: rgb(227, 227, 227);
}

@media screen and (max-width: 600px) {
  form {
    width: 75vw;
  }
}
