.image-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: fit-content;
}

.face-recognition-image {
    width: 500px; 
    position: relative;
}

.face-detection-box {
    position: absolute;
    border: 3px solid rgb(0, 166, 255);
    /* left: 50px;
    top: 50px;
    width: 150px;
    height: 100px; */
    z-index: 2;
}