nav {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  color: black;
  padding: 20px 40px;
  height: 15vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.sign-in {
  margin-left: auto;
}
